/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
   margin: 0;
   

  }

  /* ---- variables ---- */

  :root{
      
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
      color: white;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      padding: 30px 30px;
      text-transform: uppercase;
  }
  
  h2 {
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    color: white;
    padding: 30px 30px;
  }
  
  
  h3 {
    padding: 30px 30px;
    color: white;
    text-align: center;

  }
  
  h4{
    padding: 30px 30px;
    color: white;
    font-size: 20px;
    line-height: 35px;
  }
  
  p {
    margin: 0;
    padding: 30px 30px;

    
  }

  ul{
      margin: 0;
      display: inline-block
  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
   ;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 0px solid #fff
    
  }
  
  .button-alt {
    color: blue;
    background-color:turquoise;
  }
  
  /* ---- section ---- */
  
  header {
      background-color: coral;
      padding-top: 50px;
  }

.description{
    background-color: coral;
    text-align: center;
    padding-bottom: 50px;

}

button{
  
    display: block;
    padding: 25px 70px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color:turquoise;
    color: white;
    text-align: center;
    font-size: 28px;
}

input{

    padding: 25px 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 28px;

}
img{
    width: 100%;
    padding: 30px 30px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.tamañosimagen{
    width: 50%;
    
}

.card{
    position: relative;
    top: -30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
.textoarticulos{
    font-size: 22px;
    color: rgb(43, 43, 153);
    line-height: 35px;
}
.textnegrita{

    font-size: 22px;
    color: navy;
    line-height: 35px;
    margin-bottom: -15px;
    text-align: left;
    
}
.underline{
    width: 75px;
    height: 7px;
    background-color: salmon;
    padding: auto;
    margin-left: 30px;
}
.naranjatext{
    color: sandybrown;
    font-size: 24px;
    margin: 0 auto;
}

.textcenter{

    font-size: 22px;
    color: navy;
    line-height: 35px;
    margin-bottom: -15px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}

.banner-section {
  position: relative;
}

.banner-section img {
  position: relative;
  z-index: 10;
}

.circle{
    width: 300px;
    height: 300px;
    background-color: salmon;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;

}
.boxtext {
    color: salmon;
    width: 9em;
    max-width: 100%;
}

.comillas-pequeñas{
    width: 30%;
    margin: initial;
    top: -140px;
    position: relative;
    
}
.cuadrado{
    display: block;
    width: 5000px;
    height: 1000px;
    margin: 0 20px;
    border-radius: 10px;
    background-color:orangered;
    color: white;

}
.card-azul {
    display: block;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    background-color:rgb(84, 181, 194);
    color: white;

}

.text-naranja{
    font-size: 35px;
    color: coral;
    text-align: center;
    margin: 20px;
    line-height: 45px;

}
.text-gray{
    font-size: 25px;
    color: gray;
    text-align: center;
    margin: 20px;
    line-height: 35px;
}